<%=form_for(@user) do%>

名前
<input name="name" type="text">

年齢
<input name="age" type="text">

性別
<select name="gender">
<option>男</option>
<option>女</option>
</select>

説明
<textarea name="description"></textarea>

<input type="submit" value="新規登録">

<%end%>