<%= form_for @cost do |f| %>
  <form>

    <%= render "shared/cost_parts", f: f %>

    <%= f.submit "確定",class: "btn btn-primary" %>
  </form>
<% end %>
<%= render partial: "shared/error", locals: { object: @cost } %>